@use "../abstracts" as *;

@for $i from 0 through 24 {
  :root[data-theme="light"] {
    .elevation-#{$i} {
      @include light-elevation($i, $base: #000);
    }
  }
  :root[data-theme="dark"] {
    .elevation-#{$i} {
      @include dark-elevation($i, $base: #000);
    }
  }
}

