$breakpoints-list: x-large, large, medium, small, x-small, default;

$breakpoints: (
  x-small: 576px,
  small: 768px,
  medium: 992px,
  large: 1200px,
  x-large: 1400px,
  //TODO: fix this later
  default: 100000000px,
);
