$main-palette: (
  light: (
    primary: #121212,
    success: #00cccc,
    warning: #ffc107,
    error: #ff764a,
    secondary: #1f99a7,
    text: #212121,
  ),
  dark: (
    primary: #437bc2,
    success: #00cccc,
    warning: #ffc107,
    error: #ff764a,
    secondary: #1f99a7,
    text: #212121,
  ),
);

$palette: (
  light: (
    primary: (
      50-light: #223e8c1a,
      50: #ecf2f9,
      100: #c5d6ec,
      200: #a9c2e3,
      300: #81a7d6,
      400: #6995ce,
      500: #2657a4,
      600: #3d70b1,
      700: #30578a,
      800: #475c46,
      900: #1c3451,
    ),
    secondary: (
      50: #e9f5f6,
      100: #badfe4,
      200: #98d0d7,
      300: #69bbc4,
      400: #4cadb9,
      500: #1f99a7,
      600: #1c8b98,
      700: #166d77,
      800: #11545c,
      900: #0d4046,
    ),
    success: (
      50: #e6fafa,
      100: #b0efef,
      200: #8ae8e8,
      300: #54dddd,
      400: #33d6d6,
      500: #00cccc,
      600: #00baba,
      700: #009191,
      800: #007070,
      900: #005656,
    ),
    error: (
      50: #fff1ed,
      100: #ffd5c7,
      200: #ffc0ac,
      300: #ffa386,
      400: #ff916e,
      500: #ff764a,
      600: #e86b43,
      700: #b55435,
      800: #8c4129,
      900: #6b321f,
    ),
    warning: (
      50: #fff9e6,
      100: #ffecb2,
      200: #ffe28d,
      300: #ffd559,
      400: #ffcd39,
      500: #ffc107,
      600: #e8b006,
      700: #b58905,
      800: #8c6a04,
      900: #6b5103,
    ),
    neutral: (
      50: #e9e9e9,
      100: #bababa,
      200: #999999,
      300: #6a6a6a,
      400: #4d4d4d,
      500: #212121,
      600: #1e1e1e,
      700: #171717,
      800: #121212,
      900: #0e0e0e,
    ),
  ),
  dark: (
    primary: (
      50: #e8ebf4,
      100: #8e98a8,
      200: #93a3cc,
      300: #6279b5,
      400: #445fa6,
      500: #153790,
      600: #133283,
      700: #0f2766,
      800: #0c1e4f,
      900: #09173c,
    ),
    secondary: (
      50: #ececee,
      100: #c3c5c9,
      200: #a5a9af,
      300: #7c818a,
      400: #636974,
      500: #3c4351,
      600: #373d4a,
      700: #2b303a,
      800: #21252d,
      900: #191c22,
    ),
    success: (
      50: #e6f9f2,
      100: #b0ebd6,
      200: #8ae2c2,
      300: #54d4a6,
      400: #33cc95,
      500: #00bf7a,
      600: #00ae6f,
      700: #008857,
      800: #006943,
      900: #005033,
    ),
    error: (
      50: #fdedea,
      100: #f9c6bd,
      200: #f6ab9d,
      300: #f28471,
      400: #ef6d55,
      500: #eb482b,
      600: #d64227,
      700: #a7331f,
      800: #812818,
      900: #631e12,
    ),
    warning: (
      50: #fff9e6,
      100: #ffecb2,
      200: #ffe28d,
      300: #ffd559,
      400: #ffcd39,
      500: #ffc107,
      600: #e8b006,
      700: #b58905,
      800: #8c6a04,
      900: #6b5103,
    ),
    neutral: (
      50: #e9e9e9,
      100: #bababa,
      200: #999999,
      300: #6a6a6a,
      400: #4d4d4d,
      500: #212121,
      600: #1e1e1e,
      700: #171717,
      800: #121212,
      900: #0e0e0e,
    ),
  ),
);

$text: (
  light: (
    main: #111111,
    main-50: #4a686a80,
    type-1: #111111,
    type-2: #000000de,
    type-3: #000000b2,
    type-4: #00000099,
    type-4-light: #00000050,
    gray-default: #cccacf,
    on-primary: #ffffff,
    info: #2173f6,
  ),
  dark: (
    main: #4a686a,
    main-50: #4a686a80,
    type-1: #ffffff,
    type-2: #cccacf,
    type-3: #020103,
    type-4: #788391,
    type-4-light: #78839150,
    gray-default: #8999b9,
    on-primary: #000000,
    info: #2173f6,
  ),
);

$background: (
  light: (
    main: #ffffff,
    dark: #f5f5f5,
    light: rgba(6, 14, 26, 0.1),
    secondary: #f6f5f4,
    secondary-rgb: "74, 104, 106",
    divider: #dadada,
  ),
  dark: (
    main: #ffffff,
    dark: #f7f8fa,
    light: rgba(6, 14, 26, 0.1),
    secondary-rgb: "74, 104, 106",
    divider: #eaeaea,
  ),
);

