@use "sass:map";

$font-url: "@/assets/fonts";
$font-families: (
  primary: Inter,
);

$font-faces: (
  map.get($font-families, "primary"): (
    regular: (
      font-style: normal,
      font-weight: 400,
      src: url("#{$font-url}/Inter/Inter-Regular.ttf") format("truetype"),
    ),
    medium: (
      font-style: normal,
      font-weight: 500,
      src: url("#{$font-url}/Inter/Inter-Medium.ttf") format("truetype"),
    ),
    semiBold: (
      font-style: normal,
      font-weight: 600,
      src: url("#{$font-url}/Inter/Inter-SemiBold.ttf") format("truetype"),
    ),
    bold: (
      font-style: normal,
      font-weight: 700,
      src: url("#{$font-url}/Inter/Inter-Bold.ttf") format("truetype"),
    ),
  ),
);
