$border-radius-root: 2px;

$border-radius-2x: $border-radius-root * 2;
$border-radius-3x: $border-radius-root * 3;
$border-radius-4x: $border-radius-root * 4;
$border-radius-5x: $border-radius-root * 5;
$border-radius-6x: $border-radius-root * 6;
$border-radius-7x: $border-radius-root * 7;
$border-radius-8x: $border-radius-root * 8;

$pill: 9999px;
$circle: 50%;
