$typography: (
  default: (
    bold-64: (
      font-size: 6.4rem,
      font-weight: 700,
      line-height: 6.4rem,
      letter-spacing: 0,
    ),
    bold-56: (
      font-size: 5.6rem,
      font-weight: 700,
      line-height: 5.6rem,
      letter-spacing: 0,
    ),
    bold-48: (
      font-size: 4.8rem,
      font-weight: 700,
      line-height: 4.8rem,
      letter-spacing: 0,
    ),
    bold-36: (
      font-size: 3.6rem,
      font-weight: 700,
      line-height: 3.6rem,
      letter-spacing: 0,
    ),
    bold-24: (
      font-size: 2.4rem,
      font-weight: 700,
      line-height: 2.4rem,
      letter-spacing: 0,
    ),
    bold-20: (
      font-size: 2rem,
      font-weight: 700,
      line-height: 2.8rem,
      letter-spacing: 0,
    ),
    bold-18: (
      font-size: 1.8rem,
      font-weight: 700,
      line-height: 2.8rem,
      letter-spacing: 0,
    ),
    semi-bold-42: (
      font-size: 4.2rem,
      font-weight: 600,
      line-height: 120%,
      letter-spacing: 0,
    ),
    semi-bold-28: (
      font-size: 2.8rem,
      font-weight: 600,
      line-height: 120%,
      letter-spacing: 0,
    ),
    regular-36: (
      font-size: 2.25rem,
      font-weight: 400,
      line-height: 2.6rem,
      letter-spacing: 0,
    ),
    medium-18: (
      font-size: 1.8rem,
      font-weight: 500,
      line-height: 2.6rem,
      letter-spacing: 0,
    ),
    semi-bold-18: (
      font-size: 1.8rem,
      font-weight: 600,
      line-height: 2.6rem,
      letter-spacing: 0,
    ),
    regular-18: (
      font-size: 1.8rem,
      font-weight: 400,
      line-height: 2.5rem,
      letter-spacing: 0,
    ),
    bold-16: (
      font-size: 1.6rem,
      font-weight: 700,
      line-height: 2.8rem,
      letter-spacing: 0,
    ),
    semi-bold-16: (
      font-size: 1.6rem,
      font-weight: 600,
      line-height: 2.2rem,
      letter-spacing: 0,
    ),
    regular-16: (
      font-size: 1.6rem,
      font-weight: 400,
      line-height: 2.2rem,
      letter-spacing: 0,
    ),
    bold-14: (
      font-size: 1.4rem,
      font-weight: 700,
      line-height: 2.8rem,
      letter-spacing: 0,
    ),
    semi-bold-14: (
      font-size: 1.4rem,
      font-weight: 600,
      line-height: 2rem,
      letter-spacing: 0,
    ),
    regular-14: (
      font-size: 1.4rem,
      font-weight: 400,
      line-height: 2rem,
      letter-spacing: 0,
    ),
    bold-12: (
      font-size: 1.2em,
      font-weight: 700,
      line-height: 1.7rem,
      letter-spacing: 0,
    ),
    bold-10: (
      font-size: 1em,
      font-weight: 700,
      line-height: 3.2rem,
      letter-spacing: 0,
    ),
    regular-12: (
      font-size: 1.2rem,
      font-weight: 400,
      line-height: 1.7rem,
      letter-spacing: 0,
    ),
    regular-10: (
      font-size: 1rem,
      font-weight: 400,
      line-height: normal,
      letter-spacing: 0,
    ),
  ),
  small: (
    bold-24: (
      font-size: 2.4rem,
      font-weight: 700,
      line-height: 3.2rem,
      letter-spacing: 0,
    ),
    bold-20: (
      font-size: 2rem,
      font-weight: 700,
      line-height: 2.8rem,
      letter-spacing: 0,
    ),
    bold-18: (
      font-size: 1.8rem,
      font-weight: 700,
      line-height: 2.8rem,
      letter-spacing: 0,
    ),
    semi-bold-18: (
      font-size: 1.8rem,
      font-weight: 600,
      line-height: 2.6rem,
      letter-spacing: 0,
    ),
    regular-18: (
      font-size: 1.8rem,
      font-weight: 400,
      line-height: 2.5rem,
      letter-spacing: 0,
    ),
    bold-16: (
      font-size: 1.6rem,
      font-weight: 700,
      line-height: 2.8rem,
      letter-spacing: 0,
    ),
    semi-bold-16: (
      font-size: 1.6rem,
      font-weight: 600,
      line-height: 2.2rem,
      letter-spacing: 0,
    ),
    regular-16: (
      font-size: 1.6rem,
      font-weight: 400,
      line-height: 2.2rem,
      letter-spacing: 0,
    ),
    bold-14: (
      font-size: 1.4rem,
      font-weight: 700,
      line-height: 2.8rem,
      letter-spacing: 0,
    ),
    semi-bold-14: (
      font-size: 1.4rem,
      font-weight: 600,
      line-height: 2rem,
      letter-spacing: 0,
    ),
    regular-14: (
      font-size: 1.4rem,
      font-weight: 400,
      line-height: 2rem,
      letter-spacing: 0,
    ),
    bold-12: (
      font-size: 1.2em,
      font-weight: 700,
      line-height: 1.7rem,
      letter-spacing: 0,
    ),
    regular-12: (
      font-size: 1.2rem,
      font-weight: 400,
      line-height: 1.7rem,
      letter-spacing: 0,
    ),
    regular-10: (
      font-size: 1rem,
      font-weight: 400,
      line-height: 1.4rem,
      letter-spacing: 0,
    ),
  ),
  medium: (
    bold-24: (
      font-size: 2.4rem,
      font-weight: 700,
      line-height: 3.2rem,
      letter-spacing: 0,
    ),
    bold-20: (
      font-size: 2rem,
      font-weight: 700,
      line-height: 2.8rem,
      letter-spacing: 0,
    ),
    bold-18: (
      font-size: 1.8rem,
      font-weight: 700,
      line-height: 2.8rem,
      letter-spacing: 0,
    ),
    semi-bold-18: (
      font-size: 1.8rem,
      font-weight: 600,
      line-height: 2.6rem,
      letter-spacing: 0,
    ),
    regular-18: (
      font-size: 1.8rem,
      font-weight: 400,
      line-height: 2.5rem,
      letter-spacing: 0,
    ),
    bold-16: (
      font-size: 1.6rem,
      font-weight: 700,
      line-height: 2.8rem,
      letter-spacing: 0,
    ),
    semi-bold-16: (
      font-size: 1.6rem,
      font-weight: 600,
      line-height: 2.2rem,
      letter-spacing: 0,
    ),
    regular-16: (
      font-size: 1.6rem,
      font-weight: 400,
      line-height: 2.2rem,
      letter-spacing: 0,
    ),
    bold-14: (
      font-size: 1.4rem,
      font-weight: 700,
      line-height: 2.8rem,
      letter-spacing: 0,
    ),
    semi-bold-14: (
      font-size: 1.4rem,
      font-weight: 600,
      line-height: 2rem,
      letter-spacing: 0,
    ),
    semi-bold-12: (
      font-size: 1.2rem,
      font-weight: 600,
      line-height: 2rem,
      letter-spacing: 0,
    ),
    regular-14: (
      font-size: 1.4rem,
      font-weight: 400,
      line-height: 2rem,
      letter-spacing: 0,
    ),
    bold-12: (
      font-size: 1.2em,
      font-weight: 700,
      line-height: 1.7rem,
      letter-spacing: 0,
    ),
    regular-12: (
      font-size: 1.2rem,
      font-weight: 400,
      line-height: 1.7rem,
      letter-spacing: 0,
    ),
    regular-10: (
      font-size: 1rem,
      font-weight: 400,
      line-height: 1.4rem,
      letter-spacing: 0,
    ),
  ),
  large: (
    bold-24: (
      font-size: 2.4rem,
      font-weight: 700,
      line-height: 3.2rem,
      letter-spacing: 0,
    ),
    bold-20: (
      font-size: 2rem,
      font-weight: 700,
      line-height: 2.8rem,
      letter-spacing: 0,
    ),
    bold-18: (
      font-size: 1.8rem,
      font-weight: 700,
      line-height: 2.8rem,
      letter-spacing: 0,
    ),
    semi-bold-18: (
      font-size: 1.8rem,
      font-weight: 600,
      line-height: 2.6rem,
      letter-spacing: 0,
    ),
    regular-18: (
      font-size: 1.8rem,
      font-weight: 400,
      line-height: 2.5rem,
      letter-spacing: 0,
    ),
    bold-16: (
      font-size: 1.6rem,
      font-weight: 700,
      line-height: 2.8rem,
      letter-spacing: 0,
    ),
    semi-bold-16: (
      font-size: 1.6rem,
      font-weight: 600,
      line-height: 2.2rem,
      letter-spacing: 0,
    ),
    regular-16: (
      font-size: 1.6rem,
      font-weight: 400,
      line-height: 2.2rem,
      letter-spacing: 0,
    ),
    bold-14: (
      font-size: 1.4rem,
      font-weight: 700,
      line-height: 2.8rem,
      letter-spacing: 0,
    ),
    semi-bold-14: (
      font-size: 1.4rem,
      font-weight: 600,
      line-height: 2rem,
      letter-spacing: 0,
    ),
    regular-14: (
      font-size: 1.4rem,
      font-weight: 400,
      line-height: 2rem,
      letter-spacing: 0,
    ),
    bold-12: (
      font-size: 1.2em,
      font-weight: 700,
      line-height: 1.7rem,
      letter-spacing: 0,
    ),
    regular-12: (
      font-size: 1.2rem,
      font-weight: 400,
      line-height: 1.7rem,
      letter-spacing: 0,
    ),
    regular-10: (
      font-size: 1rem,
      font-weight: 400,
      line-height: 1.4rem,
      letter-spacing: 0,
    ),
  ),
);

