@use "../abstracts" as *;
:root {
  @each $theme, $color in $main-palette {
    &[data-theme="#{$theme}"] {
      @each $name, $value in $color {
        --color-palette-#{$name}: #{$value};
      }
    }
  }

  @each $theme, $color in $palette {
    &[data-theme="#{$theme}"] {
      @each $name, $variant in $color {
        @each $key, $value in $variant {
          --color-palette-#{$name}-#{$key}: #{$value};
        }
      }
    }
  }

  @each $theme, $color in $text {
    &[data-theme="#{$theme}"] {
      @each $name, $value in $color {
        --color-text-#{$name}: #{$value};
      }
    }
  }

  @each $theme, $color in $background {
    &[data-theme="#{$theme}"] {
      @each $name, $value in $color {
        --color-background-#{$name}: #{$value};
      }
    }
  }
}

